* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}

section, .full {
    width: 100%;
    float: left;
}
a, button{
    text-decoration: none;
    cursor: pointer;
}

ul{
    list-style: none;
}
.d-flex{
    display: flex;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.col-md{
    flex: 1 0 0;
}
.col-md-auto{
    width: auto;
    flex: 0 0 auto;
}